---
import Layout from "../layouts/BlogPost.astro"
const title = "Acerca de mí"
const description = "Lorem ipsum dolor sit amet"
const pubDate = "16/02/2022"
const heroImage = "/avatar.svg"
---
<Layout title={title} description={description} pubDate={pubDate} heroImage={heroImage}>
	<p>
		Me presento mi nombre es StarksDev por el momento es mi pseudónimo, su significado no tiene importancia si te lo preguntas, soy un Ingeniero de Sistemas que está empezando en este mundo de la programación, aunque ya tengo dos años de experiencia trabajando como desarrollador para diferentes empresas en mi país aún me considero un desarrollador junior, he trabajado en varios proyectos con diferentes tecnologías como: 
	</p>

	<ul>
		<li>React</li>
		<li>Node js</li>
		<li>Oracle</li>
		<li>Postgres</li>
	</ul>
	
	<p>
		Entre otras más, estas son las tecnologías principales en las que tengo algo de experiencia, puede que si eres una persona que tiene algún conocimiento sobre desarrollo web, las reconozcas fácilmente, son desde mi punto de vista de las más usadas hoy en día, he trabajado con algunos proyectos legacy que manejan tecnologías que prefiero no mencionar.
	</p>
	
	<p>
		Empiezo a escribir en este blog porque he descubierto que el enseñar a los demás es una de las mejores formas de aprender y me gustaría que me acompañes en este camino de aprender sobre desarrollo y buenas prácticas a aplicar en este mundo que está tan de moda últimamente
	</p>
	
	<p>
		Solo con mi computador, conexión a internet y todo el entusiasmo del mundo me embarco en esta aventura que no sé como terminará, ya lo descubriré.
	</p>
	
	<p>
		Por el momento te quiero contar que esta página que estás viendo en este momento la cree con un framework que se llama Astro Js, supe que existía hace unos meses y desde que lo probé por primera vez me encantó la facilidad de manejo que tiene, con este he hecho un par de proyectos de los que posiblemente te cuente en un próximo articulo nada del otro mundo, proyectos muy sencillos que hicieron que me diera cuenta de que aún me falta mucho por aprender y lo que me impulsó a tomar cursos y como dice una persona a la que admiro mucho me hizo querer mover las manitas para aprender por mi cuenta
	</p>
	
</Layout>
