---
import BaseHead from '../components/BaseHead.astro';
import { Header } from '../components/Header.jsx';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!DOCTYPE html>
<html lang="es">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body class="flex flex-col w-full h-screen content-center justify-between font-sans bg-slate-200 ">
		<Header client:load/> 
		<main class="flex justify-center items-center flex-col sm:flex-row">
			<div class="text-gray-800 max-w-[300px] text-center">
				<h1 class="text-xl m-6">Hola! Soy StarksDev</h1>
				<p>Compartiendo mi experiencia mientras aprendo desarrollo web.</p>
			</div>
			<img src="/programming.svg" alt="programador en un escritorio" class="sm:max-w-xl">
		</main>
		<Footer /> 
	</body>
</html>
