---
const today = new Date();
import {AiOutlineCopyrightCircle} from 'react-icons/ai'
---

<footer class="flex flex-col justify-center items-center h-20 p-5 bg-teal-700 text-white">
	<div class="flex items-center">
	<AiOutlineCopyrightCircle /> {today.getFullYear()} StarksDev.
	</div>
</footer>
