---
const today = new Date();
import {AiOutlineCopyrightCircle} from 'react-icons/ai/index.js'
---

<footer class="flex flex-col justify-center items-center h-20 p-5 bg-teal-700 text-white">
	<div class="flex items-center">
	<AiOutlineCopyrightCircle className="mr-1"/>  
	{today.getFullYear()} StarksDev
	</div>
</footer>
